.list_1{
    color : blue;
}

.arr_menu_sub{
    
}




.menu-sub_arr {
   
        z-index: 10700;
        position: fixed;
        inset: 50px 1000px auto auto;
        margin: 0px;
        transform: translate(-59px, 214px);
    }
.ttext {
    /* border:solid; */
    float:left;
    margin-right:55%; 
    
}